@model ThesisProject.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Start";
}

@* TODO: Ta bort hårdkodning *@
<h2>@Model.Heading</h2>
<br />

<div style="width: 400px">
    <p>@Model.AboutUs</p>
</div>
