/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #333333;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.big-container {
    background-color: #ffffff;
    width: 80%; 
    margin: auto;
    min-height: 550px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    /*width: 80% !important;*/
    margin: auto !important;
    background-color: #660066;
    color: white;
}

.progress-nav {
    margin-left: 240px;
    margin-bottom: 20px;
}

#accordion{
    width: 20%;
}

.facts-details-container {
    /*margin-right: 120px;*/
    margin-left: 50px;
    width: 70%;
}

footer {
    height: 50px;
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    padding-top: 35px;
    padding-bottom: 35px;
}

footer p{
    margin-left: 35px;
}

h1 {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 35px;
    color: #660066;
}